html{
  background-image: url("./images/yuriy-kovalev-nN1HSDtKdlw-unsplash(1).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
  margin: 0;
  font-size: 16px;
}
body {   
  padding: 3rem 1.5rem;
  font-family: 'Outfit', sans-serif;
  margin: 0;
}
h1{
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
}

/* Outerbox properties */
.outer-box {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  box-shadow: -17px 17px 42px -17px rgba(0,0,0,0.49);
  padding: 1rem;
  flex-wrap: wrap;
  border-radius: 0.3125rem;
  transition: transform 0.3s ease;
}

.outer-box:hover {
  transform: scale(1.02); /* zoom in slightly */
}

/* Innerbox Properties */
.inner-box {
  width: 100%;
  max-width: 15.625rem;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 0.625rem;
  padding: 1rem;
  box-sizing: border-box;
  overflow-wrap: break-word;
  line-height: 1.5;
  box-shadow: 0px 0px 107px -42px rgba(0,0,0,0.6);
}


.inner-box img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  max-height: 12.5rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* The Text under the QR code Properties */
.text-box {
  width: 97%;
  text-align: center;
  padding-top: 0.5rem;
  cursor: default;
}

.text1 {
  color: #000;
  font-size: 1rem; 
  font-weight: 700;
  margin: 0.5rem 0;
  display: inline-start;
}

.text2 {
  color: #333;
  font-size: 0.875rem; 
  font-weight: 400;
  margin: 0;
  display: inline-start;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  margin-top: 2rem;
  color: black;
  cursor: default;
}

footer a {
    text-decoration: none;
}

/* Media query for small screens */
@media (max-width: 31.25rem) 
{
  .outer-box {
    flex-direction: column;
  }

  .inner-box {
    max-width: 90%;
    padding: 1rem;
  }

  .text1 {
    font-size: 0.95rem;
  }

  .text2 {
    font-size: 0.8rem;
  }
}

/* Disables the zoom in effect to avoid vestibular motion triggers. */
@media (prefers-reduced-motion: reduce) {
  .outer-box:hover {
    transform: none; /* Disable zoom effect */
  }

  .inner-box img {
    transition: none; /* Disable image zoom effect */
  }
}
